.formularioLogin{
	width: 400px;
	margin: 20%  auto;
}
.formularioLogin input{
	margin-bottom: 10px !important;
}

.formularioLogin div{
	display: none;
}

.alertIndex{
	width: 500px;
	margin: 10px auto;
}

header{
	background-color: #000;
	overflow: auto;
}

header h1{
	float: left;
	color: #fff;
	margin: 10px;
	font-size: 15px;
}

header nav{
	float: right;
}

header a{
	display: inline-block;
	margin: 10px;
}

header a:hover{
	color: #fff;
	text-decoration: underline;
}

.frmCadastrarUsuario{
	width: 500px;
	margin: 30px auto;
}

.frmCadastrarUsuario input,
.frmCadastrarUsuario select{
	margin-bottom: 5px;
}